* {
  background-color: beige;
  font-family: Helvetica, Calibri, sans-serif;
  align-content: center;
  text-align: center;
}

.list li,
.list ol,
.list ul {
  align-items: left;
  text-align: left;
}

p {
  text-align: left;
}

#button {
  border: 2px solid rgb(0, 51, 128);
  background-color: rgb(255, 255, 255);
  border-radius: 25%;
  padding: 5px;
}

button:hover {
  color: red;
}

button:active {
  color: white;
}

img.images {
  padding: auto;
  margin: 20px;
  height: 350px;
  align-items: center;
}

.header {
  margin: 10px;
  padding: 20px;
  text-align: center;
  border: 2px solid;
}

main {
  margin: 10px;
  padding: 20px;
  border: 2px solid;
  text-align: center;
}
